<div>
  <% if @import.files.attached? %>
    <% @import.files.each do |file| %>
      <p><%= link_to file.filename,  rails_blob_path(file, disposition: :attachment), class:"file" %> |
      <%= link_to 'Remove', delete_image_attachment_import_url(file.id), method: :delete %></p>
    <% end %>
  <% end %>
</div>
<%= link_to 'Back', @import, class:"btn btn-primary" %>